body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1{
    text-align: center;
    color: #b22222;
}

h2{
    margin-top: 30px;
}

button{
    background-color: #b22222;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #8b0000;
}

#produtos div{
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.whatsapp-botao{

position: fixed;

bottom: 20px;

right: 20px;

background-color: #25D366;

color: white;

padding: 15px 20px;

border-radius: 50px;

font-weight: bold;

text-decoration: none;

box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}

.whatsapp-botao:hover{

background-color: #1ebe5d;

}
#produtos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

#produtos div{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0px 0px 8px rgba(0,0,0,0.1);
text-align:center;
}